body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.card-img{
  width:200px;
  height: 150px;
  margin-right: 5px;
}

/*  Container  Main Roper */

.card-roper{
  display:flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  border: 2px solid rgb(44, 49, 44);
  background-color: #38a391;
  border-radius: 5px;;
  margin:5px;
}
.container{
  display:flex;
  border:2px solid black;
  border-radius: 5px;
  margin:5px;
  background-color: rgb(211, 209, 182);
}
.info-container{
/*   display:flex;
  flex-direction: column;
  justify-content: center; */
 /*   border:2px solid rgb(241, 245, 37); */
}
.country-info{
  display:inline-block;
  flex-direction: column;
  align-items: flex-start;
 /*  border:2px solid rgb(231, 21, 32); */
}

.country-name{
  font-size: 1.1rem;
  font-weight: bold;
}
.basic-country-info{
  display:flex;
  flex-direction: column;
  margin:0;
  padding:0px;
/*   border:2px solid rgb(131, 216, 241); */
}

.li-element{
  list-style-type: none;
}